langgraph
langchain
langsmith
python-dotenv
langchain-groq
langchain_tavily
fastapi
uvicorn[standard]
streamlit
requests
langchain-chroma
langchain-huggingface
langchain-text-splitters
sentence-transformers
pypdf